.alert.alert-success{:role => "alert"}
  %strong Spots detected...
  = " for <strong>#{point_a.vicinity}</strong> and <strong>#{point_b.vicinity}</strong>"

.map#map_canvas

.list-group
  - spots.each do |spot|
    %a.list-group-item{href: "#{spot.url}"}
      .row
        .col-md-2
          - if spot.photos.any?
            %img{:src => spot.photos.first.fetch_url(100)}
          - else
            %img{src: "http://placehold.it/100x100"}
        .col-md-8
          %h4.list-group-item-heading= spot.name
          - unless spot.rating.nil?
            .rating-box
              .rating{style: "width: #{(spot.rating / 5 * 100).round}%"}
          %p.list-group-item-text
            = spot.vicinity
            = spot.formatted_address
            = spot.website
            = spot.formatted_phone_number
%script{:src => "http://www.geocodezip.com/scripts/v3_epoly.js", :type => "text/javascript"}
%script(src="map.js")
:javascript
  mapItLikeItsHot(#{lat}, #{lng});
  calcRoute(#{point_a.lat},#{point_a.lng},#{point_b.lat},#{point_b.lng});
