.row
  .col-md-12
    - if spots.any?
      .alert.alert-success{:role => "alert"}
        %strong Awesome spots detected for
        = " for <strong>#{point_a.name}</strong> and <strong>#{point_b.name}</strong>. Check out the restaurats/cafes below the map."

    - else
      .alert.alert-danger{:role => "alert"}
        %strong Sorry. No awesome spots detected
        = " for <strong>#{point_a.name}</strong> and <strong>#{point_b.name}</strong> at the moment :(. I'm still working on an algorithm that will extend the radius if no spots are within the midpoint."
  .map#map_canvas
.row
  .col-md-12
    .pull-right
      %a.btn.btn-danger{:href => "/"}
        %span.glyphicon.glyphicon-repeat
        Search again?
  .col-md-7.col-md-offset-3
    .list-group
      - spots.each do |spot|
        %a.list-group-item{href: "#{spot.url}"}
          .row
            .col-md-2
              - if spot.photos.any?
                %img{:src => spot.photos.first.fetch_url(100)}
              - else
                %img{src: "http://placehold.it/100x100"}
            .col-md-8
              %h4.list-group-item-heading= spot.name
              - unless spot.rating.nil?
                .rating-box
                  .rating{style: "width: #{(spot.rating / 5 * 100).round}%"}
              %p.list-group-item-text
                = spot.vicinity
                = spot.formatted_address
                = spot.website
                = spot.formatted_phone_number
:javascript
  mapItLikeItsHot(#{lat}, #{lng}, #{s});
  var origin = new google.maps.LatLng(#{point_a.lat}, #{point_a.lng})
  var destination = new google.maps.LatLng(#{point_b.lat}, #{point_b.lng})
  var noop = function(){}; // do nothing.
  calcRoute(origin, destination, noop);

